$violet: #8D81AC;
$cursor: pointer;
$bggray: #F4F4F4;
$editor_title_color: #635C73;
$dark: #323232;
$white: #ffffff;
$services_text: #848E97;
$editor_btn: #c9d1d954;
$icon_bg: #a5a0a038;
$prices_bg: rgba(255, 255, 255, 0.11);
$prices_btn: rgba(255, 255, 255, 0.15);
$prices_active: rgba(70, 48, 72, .84);
$svg_color: #24292e;
$fw-bold:700;
$lightV:#A291A5;
$darkViolet:#645766;
$display:flex;
$greybg:#f3f4f696;
