.body {
  @include Montserrat;
  min-width: 320px;

}

.header{
  background-color: #27262A;
  padding-top: 30px;
  padding-bottom: 30px;

  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__text{
    display: none;
  }

  &__button{
    background-color:$violet;
    color: $white;
    padding: 11px 35px;
    border-radius: 50px;
    border:none;
    font-size: 17px;
    cursor: $cursor;
    outline: none;
  }

}

.container{
  @include container;
}




.menu {
  width: 40px;

  &__burgerLine{
    height: 3px;
    background-color:$white;
    margin-bottom: 6px;
    transition: all .5s;
  }
  .line1 {
    width: 20px;
    margin-left: auto;
  }

  .line3{
    margin-bottom: 0;
  }

}

.active div:nth-of-type(1) {
  width: 40px;
  transform: rotate(-220deg) translateX(7px);
}

.active div:nth-of-type(2) {
  display: none;
}

.active  div:nth-of-type(3) {
  transform: rotate(220deg) translateX(7px);

}


.right{
  position: absolute;
  background-color: $dark;
  margin-top: 35px;
  transition: all .5s;
  transform: translateX(100%);
  display: none;
  flex-direction: column;
  justify-content: space-between;



  .mobile{
    display: flex;

  }

  &__item{
position: relative;
    padding: 29px 20px;
    font-size: 26px;
    border-bottom: 2px solid $icon_bg;



    & a{
      @include link;
      color: $white;

    }
    & a:focus{
      color: $violet;

    }
    & a:focus:before{
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 8px;
      height: 53px;
      margin-right: 29px;
      border-left: 5px solid $violet;


    }

  }

}
.activeRight{
  transform: translateX(0);
  display: block;
  width: 90%;
  margin-top: 30px;
}



@media (min-width:481px ) {
  .header {
    padding-bottom: 0;

    &__logo{
      @include flex;
      justify-content: flex-start;
    }

    &__text {
      display: flex;
      flex-direction: row;
      margin-right: auto;
      padding-left: 17px;
      font-weight: $fw-bold;
      color: $violet;
      font-size: 24px;
      @include Lato;
      justify-content: flex-start;
    }
    &__button {
      padding: 13px 50px;
      border-radius: 50px;
      border: none;
      font-size: 17px;
      cursor: $cursor;
      justify-content: flex-end;

    }
  }
  .right{
    background: none;
    position: static;
    transform: translateX(0%);
    display: flex;

    .desktop{
      display: none;
    }

    &__items{
      display: flex;
      justify-content: space-between;


    }
    &__item{

      border: none;
      font-size: 15px;
      font-weight:$fw-bold;
      padding: 12px ;
    }

    & a{
      color: $violet;

    }
    & a:focus:before{
      content: "";
      border-left: none;

    }
  }

  .container {
    padding: 0;
  }

  .menu{
    display: none
  }

}




@media (min-width:993px ) {
  .header {
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;

    &__logo {
      @include flex;
      justify-content: flex-start;
    }

    svg:hover {
      fill: $white;

    }

    &__text {
      display: flex;
      flex-direction: row;
      margin-right: auto;
      padding-left: 17px;
      font-weight: $fw-bold;
      color: $violet;
      font-size: 24px;
      @include Lato;
      justify-content: flex-start;
    }

    &__text:hover {
      color: $white;
    }

    &__button {
      padding: 13px 50px;
      border-radius: 50px;
      border: none;
      font-size: 17px;
      cursor: $cursor;
      justify-content: flex-end;

    }

    &__button:hover {
      @include hoverButton;
      border: none;
    }
  }

  .right {
    background: none;
    position: static;
    transform: translateX(0%);
    display: flex;
    margin: 0;

    &__items {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
    }

    .desktop{
      display: flex;
      align-items: center;
    }

    &.mobile{
      display: none;
    }


    &__item {
      border: none;
      font-size: 16px;
      font-weight: $fw-bold;
    }

    & a {
      color: $violet;

    }

    & a:hover {
      color: $white;
    }


    & a:focus:before {
      content: "";
      border-left: none;
    }
  }
  .container {
    padding: 0;
  }
  .menu {
    display: none;
  }
}

