.about{
  &__bg{
    background-image: url("../img/Layer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__title{
    font-size: 42px;
    color: $white;
    font-weight:$fw-bold;
    text-align: center;
    padding-top:57px;
  }


}



.container{
 @include container;
}



//display: flex;
//justify-content: space-between;
//flex-direction: column;
//align-items: center;



.logo{

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 63px;
  grid-row-gap: 50px;

  &__items{
    text-align: center;

  }

  &__img{
    padding-top: 88px;
  }

  &__img1{
    padding-top: 52px;

  }

  &__text{
    color: $white;
    @include Lato;
    font-weight: $fw-bold;
    font-size: 16px;
    padding-top: 20px;
    font-style: italic;
  }



}
.down__text{
  @include Lato;
  font-style: normal;
  color: $lightV;
  font-size: 14px;
  padding-top: 67px;
  text-align: center;
}

.down__line{
  border: none;
  background-color: $darkViolet;
  color:$darkViolet ;
  height: 3px;
  margin-top: 37px;
  position: relative;
}


@media (min-width:481px) {

  .logo{
    display: grid;
    grid-template-columns: repeat(2,3fr);
    grid-column-gap: 63px;
    grid-row-gap: 50px;
  }



}



@media (min-width:993px) {
  .logo{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    grid-column-gap: 63px;
    grid-row-gap: 50px;
  }

}


