.services {
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  background-color: $bggray;
}
.services__img {
  margin-bottom: 25px;
}

.container{
  @include container;
}


@media (min-width: 320px) {
  .services {
    &__title {
      @include Montserrat;
      color: $violet;
      font-size: 28px;
      font-weight: 700;
      line-height: 38px;
      padding: 34px 35px 15px 35px;
      text-align: center;
    }

    &__item {
      padding: 19px 15px;
      display: grid;
      justify-items: center;


      &-title {
        margin: 0 0 18px 0;
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
        color: $dark;
      }

      &-text {
        text-align: center;
        font-size: 12px;
        line-height: 21px;
        color: $services_text;
      }
      &__img {
        margin-bottom: 25px;
      }

      &__main-picture {
        margin-top: 38px;
      }
    }
  }
}
@media (min-width: 481px) {
  .services {

    &__title {
      font-size: 42px;
      line-height: 54px;
      font-weight: 700;
      padding-top: 54px;
      padding-bottom: 30px;
      grid-column-start: 2;
      text-align: center;
    }

    &__cards {
      grid-column-start: 1;
      grid-row: 1/3;
      padding-top: 50px;
      padding-bottom: 42px;
    }

    &__item {
      padding: 30px;
      display: grid;
      grid-template-columns: 111px 1fr;
      justify-items: start;
      align-items: start;
      grid-column-gap: 24px;

      &__item-title {
        font-size: 16px;
        line-height: 16px;
        font-weight: 400;
      }
    }

    &__item-text {
      text-align: left;
      font-size: 13px;
      line-height: 21px;
    }

    &__img {
      grid-row: 1/3;
    }
    &__main-picture {
      margin-left: 68px;

    }
  }
}

@media (min-width: 993px) {
  .services {

    background-color: $bggray;
    overflow: hidden;

    &__container {
      display: grid;
      grid-template-columns: 50% 50%;
    }
    &__cards {
      grid-column-start: 1;
      grid-row: 1/3;
      padding-top: 83px;
      padding-bottom: 42px;
    }

    &__title {
      grid-column-start: 2;
      text-align: center;
      font-size: 38px;
      line-height: 48px;
      padding: 84px 0 0 25px;
    }

    &__item {
      padding: 17px 90px;
      display: grid;
      grid-template-columns: 111px 1fr;
      justify-items: start;
      align-items: start;
      grid-column-gap: 24px;
    }

    &__item-text {
      text-align: left;
    }

    &__img {
      grid-row: 1/3;
    }
    &__main-img {
      margin-top: 0;
      width: 400px;
    }
  }
}
